.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(179, 110, 7);
    
}

.nav-link {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px 12px 0 12px;
    text-decoration: none;
    float: left;
    font-style: italic;
}