.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navLink {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1px 12px 6px 12px;
    text-decoration: none;
    float: left;
    font-family: cursive;
}

h1 {
    color: white;
    text-align: left;
    padding: 1px 12px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;


}